<div class="left-panel active">
    <div class="heading">
        <i class='bx bx-ghost'></i>
        <span>Admin Panel</span>
    </div>
    <div class="links">
        <ul>
            <li>
                <a href="http://<%= host %>:<%= port %>/" data-toggle="popover" data-trigger="hover" title="Dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span>Dashboard</span>
                </a>

            </li>
            <li>
                <a href="http://<%= host %>:<%= port %>/tournament" data-toggle="popover" data-trigger="hover" title="Tournament">
                    <i class='bx bxs-trophy'></i>
                    <span>Tournament</span>
                </a>
            </li>
            <li>
                <a href="http://<%= host %>:<%= port %>/result" data-toggle="popover" data-trigger="hover" title="Results">
                    <i class='bx bxs-flag-alt'></i>
                    <span>Results</span>
                </a>
            </li>
            <li>
                <a href="http://<%= host %>:<%= port %>/player" data-toggle="popover" data-trigger="hover" title="Players">
                    <i class='bx bx-body'></i>
                    <span>Players</span>
                </a>
            </li>
            <li>
                <a href="" data-toggle="popover" data-trigger="hover" title="Not created">
                    <i class='bx bxs-dashboard'></i>
                    <span>Players</span>
                </a>
            </li>
            <li>
                <a href="http://<%= host %>:<%= port %>/setting" data-toggle="popover" data-trigger="hover" title="Setting">
                    <i class='bx bx-cog'></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>
</div>
